{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row border full-height mx-0 mt-3 px-0 py-3 d-flex flex-md-row justify-content-center">

    <!-- Default form register start -->
    <form class="text-center col-12 col-lg-5 border border-light p-3">

      <p class="h4 mb-4">Register to my website!</p>

      <div class="form-row mb-4">
        <div class="col">
          <!-- Name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Name">
        </div>
      </div>

      <div class="form-row mb-0">
        <div class="col">
          <!-- Date -->
          <input type="date" id="defaultRegisterFormDate" class="form-control" placeholder="Born">
          <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            Choose your born date
          </small>
        </div>
      </div>

      <!-- E-mail -->
      <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

      <div class="form-row mb-4">
        <div class="col">
          <!-- Username-->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Username">
        </div>
      </div>

      <!-- Password -->
      <div class="form-row mb-2">
        <div class="col">
          <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

        </div>
      </div>

      <div class="form-row mb-0">
        <div class="col">
          <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password Confirmation" aria-describedby="defaultRegisterFormPasswordHelpBlock">
          <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
          </small>

        </div>
      </div>

      <!-- Sign up button -->
      <button class="btn btn-info mb-4 btn-block" type="submit" formaction="story_3_home.html" >Sign up</button>

    </form>
    <!-- Default form register end -->

  </div>
</div>
{% endblock content %}