{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container  ">            
  <!-- Education -->
  <div class="row full-height section mx-0 my-3 px-2 px-md-0 py-3 d-flex flex-md-row justify-content-center"
    id="Education">
    <div class="media col-sm-8 align-self-center ">
      <div class="row">
        <!-- <div class="col-sm-5 align-self-center "> -->
          <img class="img-fluid rounded-circle align-self-center mr-3" src="{% static 'ui.png' %}" alt="An Icon" 
            width="25%">
        <!-- </div> -->
        <div class="media-body col-sm align-self-center">
          <h2 class="mt-0 title-2">University of Indonesia</h2>
          <h3 class="mt-0 subtitle-2">Student of Computer Science</h3>
          <h3 class="mt-0 subtitle-2">2017-2021</h3>
            <p>Perform good in academic and non-academic activity. 
              Currently a Teaching Assistant.</p>
        </div>
      </div>
    </div>
    <div class="media col-sm-8 align-self-center ">
      <div class="media-body align-self-center">
        <h2 class="mt-0 title-2">SMAN 1 Tangerang</h2>
        <h3 class="mt-0 subtitle-2">2014-2017</h3>
        <p>Arguably best high school in town. Active in High School Organization 
          including Student Council and Head of IT Club.</p>
        </div>
        <img class="img-fluid align-self-center ml-3" src="{% static 'smanitra.png' %}"alt="An Icon" 
          width="25%">
      </div>
  </div>

  <!-- Skills -->
  <div class="row full-height section  mx-0 my-3 px-0 py-3 d-flex flex-md-row justify-content-center"
  id="Skill">
    <!-- <div class=" "> -->
    <!-- Language -->
    <div class="col-sm col-md-6 align-self-center ">
      <div class="row">

        <div class="col-sm-4 align-self-center  ">
          <div class="title-3 my-2">Java</div>
        </div>
        <div class="col-sm-8 align-self-center  ">
          <div class="progress  ">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="w-100"></div>

        <div class="col-sm-4 align-self-center  ">
          <div class="title-3 my-2">Python</div>
        </div>
        <div class="col-sm-8 align-self-center  ">
          <div class="progress  ">
            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="w-100"></div>

        <div class="col-sm-4 align-self-center  ">
          <div class="title-3 my-2">HTML</div>
        </div>
        <div class="col-sm-8 align-self-center  ">
          <div class="progress  ">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="w-100"></div>

        <div class="col-sm-4 align-self-center  ">
          <div class="title-3 my-2">CSS</div>
        </div>
        <div class="col-sm-8 align-self-center  ">
          <div class="progress  ">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="w-100"></div>

        <div class="col-sm-4 align-self-center  ">
          <div class="title-3 my-2">JavaScript</div>
        </div>
        <div class="col-sm-8 align-self-center  ">
          <div class="progress  ">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="w-100"></div>
        
      </div>
    <!-- </div> -->
    </div>

    <!-- My-Project -->
    <div class="col-sm col-md-4 align-self-center "
      id="my-project">
      <h3>My-Project</h3>
      <div class="my-3"><a>DDP 1 - Python GUI</a></div>
      <div class="my-3"><a>DDP 2 - Java GUI & CLI</a></div>
      <div class="my-3"><a>PPW - Django Website</a></div>
      {% comment %} <div class="my-3"><a>&nbsp;</a></div>
      <div class="my-3"><a>&nbsp;</a></div> {% endcomment %}
    </div>
  
  </div>

  <!-- Experience -->
  <div class="row full-height section mx-0 my-3 px-2 px-md-0 py-5 d-flex flex-md-row justify-content-center"
    id="Experience">
      
    <div class="col-md-5 px-0 align-self-center  ">
      <div class="media row-md-auto py-0 align-self-center  ">
        <img class="img-fluid rounded-circle align-self-center mr-3" src="{% static 'ui.png' %}" alt="An Icon" 
          width="25%">
        <div class="media-body align-self-center mx-0  ">
          <h3 class="mt-0 title-3">Teaching Assistant</h2>
          <h5 class="mt-0 subtitle-3">At University of Indonesia</h3>
          <h5 class="mt-0 subtitle-3">2018</h3>
            <p>Teaching assistant of Introduction to Digital System for regular class</p>
        </div>
      </div>
    </div>

    <div class="col-md-5 px-0 align-self-center  ">
      <div class="media row-md-auto py-0 align-self-center  ">
        <img class="img-fluid rounded-circle align-self-center mr-3" src="{% static 'compfest.jpg' %}" alt="An Icon" 
          width="25%">
        <div class="media-body align-self-center mx-0  ">
          <h3 class="mt-0 title-3">Staff of Startup Academy</h2>
          <h5 class="mt-0 subtitle-3">At COMPFEST X</h3>
          <h5 class="mt-0 subtitle-3">2018</h3>
            <p>An IT event held by Computer Science University of Indonesia</p>
        </div>
      </div>
    </div>

    <div class="w-100"></div>
    
    <div class="col-md-5 px-0 align-self-center  ">
      <div class="media row-md-auto py-0 align-self-center  ">
        <img class="img-fluid rounded-circle align-self-center mr-3" src="{% static 'osis.jpg' %}" alt="An Icon" 
          width="25%">
        <div class="media-body align-self-center mx-0  ">
          <h3 class="mt-0 title-3">Staff of Student Council</h2>
          <h5 class="mt-0 subtitle-3">At SMAN 1 Tangerang</h3>
          <h5 class="mt-0 subtitle-3">2015-2016</h3>
            <p>Staff of Technology Development Division.
              Represent ITnC in Student Council.
            </p>
        </div>
      </div>
    </div>
    <div class="col-md-5 px-0 align-self-center  ">
      <div class="media row-md-auto py-0 align-self-center  ">
        <img class="img-fluid rounded-circle align-self-center mr-3" src="{% static 'itnc.jpg' %}" alt="An Icon" 
          width="25%">
        <div class="media-body align-self-center mx-0  ">
          <h3 class="mt-0 title-3">Head of ITnC</h2>
          <h5 class="mt-0 subtitle-3">At SMAN 1 Tangerang</h3>
          <h5 class="mt-0 subtitle-3">2015-2016</h3>
            <p>An IT Club focusing on programming and graphic design</p>
        </div>
      </div>
    </div>


  </div>

  <!-- Achievement -->
  <div class="row full-height section mx-0 my-3 px-2 px-md-0 py-5 d-flex flex-md-row justify-content-center"
    id="Achievement">
      
      <div class="col-md-5 px-0 align-self-center  ">
        <div class="media row-md-auto py-0 align-self-center  ">
          <img class="img-fluid rounded-circle align-self-center mr-3" src="{% static 'ristek.png' %}" alt="An Icon" 
            width="25%">
          <div class="media-body align-self-center mx-0  ">
            <h3 class="mt-0 title-3">Honorable Mention</h2>
            <h5 class="mt-0 subtitle-3">At CPC Pekan Ristek</h3>
            <h5 class="mt-0 subtitle-3">2017</h3>
              <p>A mini IT event held by Ristek Fasilkom UI</p>
          </div>
        </div>
      </div>

      <div class="col-md-5 px-0 align-self-center  ">
        <div class="media row-md-auto py-0 align-self-center  ">
          <img class="img-fluid rounded-circle align-self-center mr-3" src="{% static 'tetra science.jpg' %}" alt="An Icon" 
            width="25%">
          <div class="media-body align-self-center mx-0  ">
            <h3 class="mt-0 title-3">1st Winner</h2>
            <h5 class="mt-0 subtitle-3">At Tetra Science's Informatics</h3>
            <h5 class="mt-0 subtitle-3">2015</h3>
              <p>Science Olympiad held by SMAN 4 Tangerang</p>
          </div>
        </div>
      </div>

      <div class="w-100"></div>

      <div class="col-md-5 px-0 align-self-center  ">
        <div class="media row-md-auto py-0 align-self-center  ">
          <img class="img-fluid rounded-circle align-self-center mr-3" src="{% static 'quesscomp.png' %}" alt="An Icon" 
            width="25%">
          <div class="media-body align-self-center mx-0  ">
            <h3 class="mt-0 title-3">3rd Winner</h2>
            <h5 class="mt-0 subtitle-3">At Compiler's QuessComp</h3>
            <h5 class="mt-0 subtitle-3">2015</h3>
              <p>Teaching assistant of Introduction to Digital System for regular class</p>
          </div>
        </div>
      </div>

        <div class="col-md-5 px-0 align-self-center  ">
          <div class="media row-md-auto py-0 align-self-center  ">
            <img class="img-fluid rounded-circle align-self-center mr-3" src="{% static 'OSN.jpg' %}" alt="An Icon" 
              width="25%">
            <div class="media-body align-self-center mx-0  ">
              <h3 class="mt-0 title-3">Participant</h2>
              <h5 class="mt-0 subtitle-3">At OSK Informatika Tangerang</h3>
              <h5 class="mt-0 subtitle-3">2015-2016</h3>
                <p>Represent SMAN 1 Tangerang for OSK in Tangerang</p>
            </div>
          </div>
        </div>

    </div>

  
  <div class="row section mx-0 my-3 px-2 px-md-0 py-5 d-flex flex-md-row justify-content-center"
    id="Contact">
    <div class="col-md-auto text-center my-5" id="find-me">Find me!</div>
    
    <div class="w-100"></div>
    <!-- <div class="col-md-12  "> -->
    <img class="img-responsive img-contact mx-3 mb-5" src="{% static 'gitlab.png' %}" alt="Reyhan's Gitlab">
    <img class="img-responsive img-contact mx-3 mb-5" src="{% static 'gmail.png' %}" alt="Reyhan's Email" >
    <img class="img-responsive img-contact mx-3 mb-5" src="{% static 'line.png' %}" alt="Reyhan's Line" >
    <img class="img-responsive img-contact mx-3 mb-5" src="{% static 'linkedin.png' %}" alt="Reyhan's Linkedin" >
    <!-- </div> -->

  </div>

</div>
  <!-- Footer -->
  <footer class="page-footer font-small  ">

    <!-- Copyright -->
    <div class="footer-copyright text-center align-items-end">created by: blurey8 | wireframe
    </div>
    <!-- Copyright -->
  
  </footer>
{% endblock content %}