{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container ">      
  <div class="row md section full-height mx-0 my-3 px-0 py-5 d-flex flex-md-row justify-content-center">
  
    <!-- Home Profile -->
    <div class="media col-8 align-self-center justify-content-center">
      <div class="row  justify-content-center">
    <div class="col-md-5 align-self-center">
      <img class="img-fluid rounded align-self-center mr-3" src="{% static 'reyhan.jpg' %}" alt="Profile Photo" 
        width="100%">
    </div>
      <div class="media-body col-md-6 align-self-center">
        <h1 class="mt-0">Reyhan Alhafizal Hamidi</h1>
          <p id="desc">Second-year Computer Science student with passion on IT development. 
          Extremely motivated to learn new things and meet new people.</p>
      </div>
      </div>
    </div>
    
    <!-- Force next columns to break to new line -->
    <div class="w-100"></div>
    <div class="mb-0 ">
      <button type="button" onclick="location.href='about/'" class="btn btn-cyan">Know Me More!</button>
    </div>
  </div>
</div>

  <!--
  <div class="row border mx-0 my-3 px-0 py-3 d-flex flex-md-row justify-content-center">
    isi container
  </div>
  -->
{% endblock content %}