<head>
    <style>

        body {
            background-color: lightgrey;
        }
        div {
            background-color: white;
            width: 500px;
            border: 1px solid gray;
            padding: 25px;
            margin: auto;
            margin-bottom: 10px;  
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
        }
    </style>
</head>

<div>
    {% load static %}
    <img  src="{% static '../static/reyhan.jpg' %} " alt="Reyhan Alhafizal Hamidi" height="30%">
    <!-- <img src="https://gitlab.com/reyhanhamidi/ppw/raw/master/story_1/static/reyhan.jpg" alt="Reyhan Alhafizal Hamidi" height="30%"> -->
    <p>
        Name&emsp;&emsp;&emsp;: Reyhan Alhafizal Hamidi
        <br>
        NPM&emsp;&emsp;&emsp;&ensp;: 1706040082
        <br>
        Jurusan&emsp;&emsp;: Ilmu Komputer
        <br>
        Universitas&ensp; : UI
        <br>
        Hobi&emsp;&emsp;&emsp;&ensp;: Belajar
    </p>

    <p>
        Halo, saya Reyhan. Saya adalah mahasiswa Ilmu Komputer UI 2017
        Saya sangat senang mempelajari hal baru di bidang ini.
        Di waktu luang, saya biasanya menonton film atau membaca komik.
        Semoga PPW lancar amin.
    </p>
</div>

<div>
        <!-- {% load static %} -->
        <!-- <img src="{% static '../static/dafa.jpg' %}" alt="Dafa Ramadansyah's photo" height="30%"> -->
        <img src="https://gitlab.com/Darrand/PPW-Darrand/raw/master/lab_1/static/dafa.jpg" alt="Dafa Ramadansyah's photo" height="30%">
        <p>
            Name&emsp;&emsp;&emsp;: Dafa Ramadansyah
            <br>
            NPM&emsp;&emsp;&emsp;&ensp;: 1706039370
            <br>
            Jurusan&emsp;&emsp;: Ilmu Komputer
            <br>
            Universitas&ensp; : UI
            <br>
            Hobi&emsp;&emsp;&emsp;&ensp;: Game, Musik, dan Film
        </p>
    
        <p>
                My name is Dafa Ramadansyah, currently 19 years old in living. I was born in 8th of January 1999.
                I have 1 sister and 1 brother both are older. I am currently pursuing my study in computer science 
                field at Universitas Indonesia. My hobbies are playing video games, listening to music and watching 
                all kind of shows (e.g. movies, animes, tv shows).
        </p>
</div>

<div>
        <!-- {% load static %} .-->
        <!-- <img src="{% static '../static/bimo.jpg' %}" alt="Bimo Iman's photo" height="30%"> -->
        <img src="https://gitlab.com/bimo.iman1/pepewee/raw/master/lab_1/templates/Profile%20pict.JPG" alt="Bimo Iman's photo" height="30%">
        <p>
            Name&emsp;&emsp;&emsp;: Bimo Iman Smartadi
            <br>
            NPM&emsp;&emsp;&emsp;&ensp;: 1706039780
            <br>
            Jurusan&emsp;&emsp;: Ilmu Komputer
            <br>
            Universitas&ensp; : UI
            <br>
            Hobi&emsp;&emsp;&emsp;&ensp;: Game, Musik, dan Film
        </p>
    
        <p>
                A bald guy DC Comic Enthusiast.
        </p>
</div>
