.full-height {
    height: 86vh;
}
body{
    /* background-color: rgba(0, 153, 255, 0.2); */
    background-color: rgba(111, 111, 255, 0.2);
}
.section {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
p {
    color: #47525E;
}
h1 {
    color: #343F4B;
}
nav {
    background-color: #4bafff;
}
.btn-cyan {
    background-color: #4bafff;
    color: white; /* Green */
    border: solid 2px transparent;
}
.btn-cyan:hover {
    background-color: white; /* Green */
    color: #4bafff;
    border: solid 2px #4bafff;
    /* color: white; */
}
.title-2{
    /* font-weight: 500; */
    font-size: 32px;
}
.subtitle-2{
    font-size: 20px;
}
.title-3{
    /* font-weight: 500; */
    font-size: 24px;
}
.subtitle-3{
    font-size: 18px;
}
#my-project{
    padding-bottom: 7vw;
}
#find-me{
    font-size: 32px;
    font-weight: bold;
}
#Contact{
    height: 62vh;
}
.img-contact{
    height: 4vw;
}
footer{
    display: block;
    background-color: #4bafff;
    /* padding-top:  */
    padding-top: 20vh;
    padding-bottom: 1vh;
    color: white;
}

.activity-card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* Responsive stuff */
@media screen and (max-width: 768px) {
    h1 {
      font-size: 30px;
      text-align: center;
    }
    p {
      font-size: 14px;
      /* text-align: center; */
    }
    #desc{
        text-align: center;
    }
    .title-2{
        /* font-weight: 500; */
        font-size: 28px;
    }
    .subtitle-2{
        font-size: 16px;
    }
    .title-3{
        /* font-weight: 500; */
        font-size: 24px;
    }
    .subtitle-3{
        font-size: 18px;
    }
    .full-height {
        height: auto;
    }
    #my-project{
        padding-top: 8vw;
        padding-bottom: 0vw;
    }
    .img-contact{
        height: 10vw;
    }
  }