{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class=" row  mx-0 my-3 px-0 py-3 d-flex flex-md-row justify-content-center">

    <!-- Default form register start -->
    <form class="col-12 col-lg-4 section  mr-lg-2 p-3 mb-3 mb-lg-auto"
      method="POST" action="{% url 'story_5:add_activity' %}">

      <div class="text-left title-3">
        Add your activity here! 
      </div>
      <br>
      {% csrf_token %}
      {{ form }}

      <br>
      {% comment %} <div class="text-center"> {% endcomment %}
      <button class="btn btn-info mb-0 " type="submit">Add Activity</button>
      {% comment %} </div> {% endcomment %}
    </form>

    <div class="section col-12 col-lg-5 ml-lg-2 p-3">
    
    <div class="row mb-3">
      <span class="col  title-3">
        Activity List 
      </span>
      <span class="col-auto ">
        <a href="{% url 'story_5:delete_all' %}" class="btn btn-danger mx-auto">Delete All</a>
      </span>
      <br>
    </div>

      {% for activity in activity_dict %}
      <div class="activity-card  mb-3 p-2">
        <span class="font-weight-bold">{{ activity.name }}</span> @ {{ activity.place }}<br>
        {{ activity.date|date:"D, d-m-Y" }} {{ activity.time|date:"G:i" }}   <br>
        {% for category in activity.category.split %}
        <span class="">#{{ category }}</span>
        {% endfor %} <br>
        {% comment %} <br> {% endcomment %}
      </div>
        {% endfor %}
    </div>

  </div>
</div>
{% endblock content %}